
.floating-connection {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  pointer-events: none;
}

.floating-connection-top {
  top: 15%;
}

.floating-connection-middle {
  top: 50%;
}

.floating-connection-bottom {
  top: 85%;
}

.floating-connection-vertical {
  flex-direction: column;
  height: 100%;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
}

.flow-particle {
  width: 4px;
  height: 4px;
  background: rgba(99, 102, 241, 0.2);
  border-radius: 50%;
}

.flow-particle-vertical {
  margin: 0;
}

.flow-particle.static {
  opacity: 0.2;
}
